<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="abb_irb120">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import abb_irb120 urdf file -->
    <!-- <xacro:include filename="$(find melfa_description)/urdf/rv5as_custom/rv5as.urdf" /> -->
    <xacro:include filename="package://abb_irb120_support/urdf/abb_irb120.urdf.xacro" />

    <!-- Import control_xacro -->
    <!-- <xacro:include filename="rv5as.ros2_control.xacro" /> -->


    <!-- <xacro:rv5as_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/> -->

</robot>


